# Project-wide
.vscode
node_modules
/.notes

# Formatter wants a package.json in root dir 
/package.json

# Client
.next

# NPM Module - see readme for details
common

# Test project to work on nats concepts
nats-test